@font-face {
  font-family: "panton";
  font-style: bold;
  font-weight: normal;
  src: local("/panton");
  
  src: url('/panton/Panton-BlackCaps.otf');
  src: url('/panton/Panton-LightCaps.otf');
}

body {
    background-color: #FFF1E0;
	color: #292929;
	/*font-family: "panton", "Arial", sans-serif;*/
}
.container{
	 background-color: #FFF1E0;
}

.card-general{
	background-color: #F2DFCE;
	padding: 10px 0px 20px 0px;
	min-height: 3.125rem;
	font-size: 1.5rem;
}

.card-title{
	background-color: #F2DFCE;
	font-family: Panton-BlackCaps, 'Panton-BlackCaps.otf', bold;
	padding-top: 0.65rem;
	padding-bottom: 0.65rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	font-size: 1.1rem;
}

.card {
    height: 34.375rem; /*  500px; 100%  */
	background-color: #FFF1E0;
}
.card-abstract{
	padding: 10px 5px 0px 10px;
	font-family: Panton-LightCaps, 'Panton-LightCaps.otf';
}

.bold{
	font-weight: bold;
}

.linkcolor{color: #000000;}
.linkcolor:visited{color: #3b3b3b;} 
.linkcolor:hover{color: #292929;}
.linkcolor:active{color: #292929;}
   
   
/* footer */

.footer {
  width: 100%;
  padding: 1rem;
  background: #F2DFCE;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

